.menu{
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.item{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
    height: 2.5rem;
    position: relative;
    transition: all 300ms ease;
    font-size: 14px;
}
.item:hover{
    cursor: pointer;
}
.active{
    background: var(--activeItem);
    margin-left: 0;
}
.active::before{
    content: '';
    width: 8px;
    height: 100%;
    background: var(--pink);
  margin-right: calc(1rem -8px);
}